/* === Estilizações Globais === */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
}

:root {
    --main-color: #e3e3e3;
}


/* === Navbar === */
.nav {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}

.nav__logo {
    font-size: 24px;
    text-transform: uppercase;
    color: var(--main-color);
}

.nav__list {
    display: flex;
}

.nav__item {
    margin: 0 0 0 20px;
}

.nav__link {
    color: var(--main-color);
    transition: ease 0.3s;
}

.nav__link:hover {
    color: #9c9c9c;
}


/* === Home === */
#home {
    width: 100%;
    height: 100vh;
    background-image: url(img-1.jpg);
    background-size: cover;
    background-position: center;
}

#sec-2 {
    width: 100%;
    height: 100vh;
}
